@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --black: #000000;
    --grey: #323d46;
    --primary-blue: #0055ff;
    --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.sect-title {
    @apply lg:text-4xl text-3xl font-black text-center;
}
